:root {
  --primary-color: #ff7b29;
  --color-gray: #7a7a7a;
  --font-size-14: 14px;
}

.headerSection {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.5rem;
}
.color-white {
  color: white;
}
.font-16 {
  font-size: 1rem;
}
.font-12 {
  font-size: 0.7rem;
}
.headerRight {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.carouselSection {
  height: 540px;
  width: 100%;
}
.carousel-item,
.carousel-fade,
.carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel-indicators {
  display: none !important;
}
.slide1 {
  background-image: url("./assets/1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide2 {
  background-image: url("./assets/2.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide3 {
  background-image: url("./assets/s1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.logo {
  width: 70px;
  padding: 8px;
}
.logoSection {
  text-align: center;
  line-height: 1px;
  color: var(--primary-color);
}
.subTitle {
  font-size: var(--font-size-14);
  font-weight: bolder;
  color: var(--primary-color);
}
.nav-link {
  font-size: var(--font-size-14) !important;
  font-weight: bolder !important;
  color: var(--primary-color) !important;
}

.bannerImage {
  width: 100%;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.color-primary {
  color: var(--primary-color) !important;
}
.color-gray {
  color: var(--color-gray);
}

.text1 {
  font-size: 18px;
  font-weight: 600;
}
.text2 {
  font-size: 30px;
  font-weight: 600;
}
.text3 {
  font-size: 16px;
  font-weight: 600;
}
.subTextStyle{
  line-height: 1.5rem;
  text-align: justify;
}
.heading1{
  font-size: 30px;
  font-weight: 600;
  
}
.card-img-top {
  width: 100%;
  height: 230px !important;
}
.line-height-1{
  line-height: 1rem !important;
}
.contactUs{
  height: 20rem;
  background-image:  linear-gradient(var(--primary-color), #fff);
}